.conditions__area {
    /* display: flex; */
}
.searched__list,
th,
td {
    border: solid;
    border-color: black;
}
.pages {
    display: flex;
}
.searched__option {
    display: flex;
}
/* モーダルウィンドウの基本スタイル */
.modal__area {
    display: none; /* デフォルトでは非表示に設定 */
    position: fixed; /* モーダルがページ全体に固定されるように設定 */
    top: 0; /* ページの最上部からスタート */
    left: 0; /* ページの最左端からスタート */
    width: 100%; /* モーダルが画面全体の幅を占める */
    height: 100%; /* モーダルが画面全体の高さを占める */
}
.modal__body {
    position: fixed; /* モーダル内容が画面上に固定されるように設定 */
    top: 50%; /* 縦方向の中央に配置 */
    left: 50%; /* 横方向の中央に配置 */
    transform: translate(-50%, -50%); /* 完全に中央に配置するための補正 */
    padding: 20px; /* モーダル内の余白を設定 */
    width: 500px; /* モーダルの幅 */
    height: 500px; /* モーダルの高さ */
    background-color: #fefefe; /* モーダルの背景色を白に設定 */
    border: 1px solid #888; /* 境界線の色を薄いグレーに設定 */
}
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
