th,
td {
    border: 1px solid #333;
}

.table {
    width: 1300px;
    padding: 0 20px;
    margin: 0 auto 120px;
}
.table__item {
    width: 300px;
    text-align: start;
}
.require {
    color: red;
    font-weight: bold;
}
/* お名前 */
.name__th {
    height: 100px;
}
.name__group {
    display: flex;
    height: 100px;
    align-items: center;
}
.name__input {
    height: 30px;
    width: 200px;
    margin-right: 20px;
    outline: none;
    border: none;
    padding: 10px 30px;
}
/* 性別 */
.gender__th {
    height: 100px;
}
.gender__group {
    display: flex;
    height: 60px;
    align-items: flex-end;
}
.gender__item {
    display: flex;
    margin-right: 10px;
}
.gender__label {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
    line-height: 1;
    cursor: pointer;
    /* margin-left: 10px; */
}
.gender__label:not(:last-of-type) {
    margin-right: 16px;
}
.gender__radio {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    /* border: 1px solid #06b6d4; */
    border-radius: 9999px;
    cursor: pointer;
}

.gender__radio:checked {
    background-color: #dddddd;
}

.gender__radio:checked::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 9999px;
    background-color: #8b7b68;
}
.gender__tr {
    height: 70px;
}
.gender__error {
    display: flex;
    align-items: flex-end;
}
/* メールアドレス */
.email__input {
    height: 30px;
    width: 200px;
    margin-right: 20px;
    outline: none;
    border: none;
    padding: 10px 30px;
}
.tel__group {
    display: flex;
    height: 100px;
}
