.table {
    width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}
.table__item {
    height: 100px;
    width: 300px;
    text-align: start;
    vertical-align: top;
}
.require {
    color: red;
    font-weight: bold;
}
/* お名前 */
.name__th {
}
.name__group {
    display: flex;
    height: 100px;
    align-items: flex-start;
    vertical-align: top;
    justify-content: space-between;
}
.name__input {
    background: #f4f4f4;
    outline: none;
    border: none;
    height: 30px;
    width: 250px;
    padding: 10px 30px;
    font-family: "Noto Serif", serif;
    color: #8b7969;
}
/* 性別 */
.gender__th {
}
.gender__group {
    display: flex;
    height: 60px;
    align-items: flex-start;
    justify-content: flex-start;
    vertical-align: top;
}
.gender__item {
    display: flex;
    margin-right: 50px;
}
.gender__label {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
    line-height: 1;
    cursor: pointer;
}
.gender__label:not(:last-of-type) {
    margin-right: 16px;
}
.gender__radio {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    /* border: 1px solid #06b6d4; */
    border-radius: 9999px;
    cursor: pointer;
}

.gender__radio:checked {
    background-color: #dddddd;
}

.gender__radio:checked::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 9999px;
    background-color: #8b7b68;
}
.gender__tr {
    height: 1em;
}
.gender__error {
    display: flex;
    align-items: flex-end;
}
/* メールアドレス */
.email__group {
    vertical-align: top;
    justify-content: space-between;
    display: flex;
    height: 100px;
    align-items: flex-start;
}
.email__item {
    display: flex;
    height: 100px;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}
.email__input {
    background: #f4f4f4;
    outline: none;
    border: none;
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 30px;
    font-family: "Noto Serif", serif;
    color: #8b7969;
}
/* 電話番号 */
.tel__group {
    vertical-align: top;
    justify-content: space-between;
    display: flex;
    height: 100px;
    align-items: baseline;
}
.tel__item {
    position: relative;
}
.tel__input {
    background: #f4f4f4;
    outline: none;
    border: none;
    height: 30px;
    width: 100px;
    padding: 10px 30px;
    text-align: center;
    font-family: "Noto Serif", serif;
    color: #8b7969;
}
.tel__error {
    position: absolute;
    font-size: small;
    left: -20px;
    right: -20px;
    text-align: center;
}
/* 住所 */
.address__group {
    vertical-align: top;
    justify-content: space-between;
    display: flex;
    height: 100px;
    align-items: flex-start;
}
.address__item {
    display: flex;
    height: 100px;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}
.address__input {
    background: #f4f4f4;
    outline: none;
    border: none;
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 30px;
    font-family: "Noto Serif", serif;
    color: #8b7969;
}
/* 建物名 */
.building__group {
    vertical-align: top;
    justify-content: space-between;
    display: flex;
    height: 100px;
    align-items: flex-start;
}
.building__item {
    display: flex;
    height: 100px;
    align-items: flex-start;
    width: 100%;
}
.building__input {
    background: #f4f4f4;
    outline: none;
    border: none;
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 30px;
    font-family: "Noto Serif", serif;
    color: #8b7969;
}
/* お問い合わせの種類 */
.category__group {
    vertical-align: top;
    justify-content: space-between;
    display: flex;
    height: 100px;
    align-items: flex-start;
}
.category__item {
    display: flex;
    height: 100px;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}
.category__select {
    height: 50px;
    box-sizing: border-box;
    width: 300px;
    padding: 10px 30px;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    background: #f4f4f4;
    outline: none;
    border: none;
    color: #8b7969;
}
.category__select::after {
    content: "";
    position: absolute;
    top: 22px;
    right: 12px;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid #8b7969;
    border-bottom: 0;
    pointer-events: none;
}
/* お問い合わせ内容 */
.detail__textarea {
    background: #f4f4f4;
    outline: none;
    border: none;
    resize: none;
    width: 100%;
    height: 6em;
    box-sizing: border-box;
    padding: 10px 30px;
    font-family: "Noto Serif", serif;
    color: #8b7969;
}
/* ボタン */
.button__area {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
