.form__area {
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto 120px;
}
.form__area .form__title {
    font-weight: 500;
    padding-bottom: 30px;
    text-align: center;
    font-family: "Noto Serif", serif;
    color: #8b7969;
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
}
.form__area dl {
    margin-bottom: 40px;
}
.form__area .item {
    display: flex;
    font-size: 15px;
    margin-bottom: 10px;
}
.form__area .item dt {
    width: 250px;
    color: #8b7969;

    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding: 60px 20px;
}
.form__area .item dt .require {
    color: #df4440;
    font-size: 10px;
    font-weight: 500;
    padding: 2px 5px;
}
.form__area .item dd {
    width: calc(100% - 250px);
    display: flex;
    align-items: center;
    padding: 0;
}
.form__area .item dd.name__group,
.form__area .item dd.gender__group {
    display: flex;
    align-items: center;
}
.form__area .item dd .gender__item {
    margin-right: 40px;
    color: #8b7969;
    accent-color: #8b7969;
}
.input__name {
    background: #f4f4f4;
    height: 30px;
    width: 200px;
    margin-right: 20px;
    outline: none;
    border: none;
    padding: 10px 30px;
}
.input__email {
    font-family: "Noto Serif", serif;
    background: #f4f4f4;
    height: 30px;
    width: 200px;
    margin-right: 20px;
    outline: none;
    border: none;
    padding: 10px 30px;
}
.error {
    color: red;
    height: 10px;
}
/* .form__area .item dd input [type="text"],
.form__area .item dd input [type="textarea"],
.form__area .item dd select {
    width: 100%;
    border: solid 1px #ccc;
    padding: 20px;
    background: #f4f4f4;
} */
.form__area .item dd input[type="radio"] {
    margin-right: 5px;
}
.form__area .item dd textarea {
    width: 100%;
    border: solid 1px #ccc;
    padding: 20px;
}
.form__area .btn__submit {
    width: 100px;
    height: 40px;
    background-color: #1f1f1f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 0 auto;
}
